.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh; /* Adjust as needed */
    width: 20vw;
    border: 1px solid #ccc; /* Optional: to visualize the rectangle */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* Add shadow for floating effect */
  }
  
  .button {
    text-align: center;
    flex: 1;
    position: relative;
    cursor: pointer;
  }
  
  .button:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: #000; /* Adjust color as needed */
  }
  
  .label {
    display: block;
    margin-top: 5px; /* Adjust as needed */
    font-size: 1.25em; /* Adjust as needed */
  }
  