.pdf-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .pdf-item:hover {
    background: #e6f0ff;
  }
  
  .pdf-item.selected {
    background: #3B73EE;
    color: white;

  }

  .pdf-item.selected.preview-mode {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: relative;
    z-index: 10;
    margin-left: -40px; /* Moves it outside the container */
  }

  .pdf-item.selected.preview-mode::before {
    background-color: inherit;
    border-radius: inherit;
    color: white;
    position: absolute;
    left: -10px;
  }
  
  .column {
    flex: 1;
    text-align: right;
    width: fit-content;
  }
  
  .column.number {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
  
  .column.number img {
    width: 16px;
    height: 16px;
  }

  .column.circle {
    width: fit-content;
  }
  
  