.invoice-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .invoice-item:hover {
    background: #e6f0ff;
  }
  
  .invoice-item.selected {
    background: #3B73EE;
    color: white;
  }

  .invoice-item.selected.preview-mode {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: relative;
    z-index: 10;
    margin-left: -40px;
  }

  .invoice-item.selected.preview-mode::before {
    background-color: inherit;
    border-radius: inherit;
    color: white;
    position: absolute;
    left: -10px;
  }

  .invoice-date {
    font-size: 0.7rem;
  }