<app-toolbar (toggleView)="toggleViewMode($event)"></app-toolbar>



<div class="pdf-list-container">
  
  <div class="preview-container" *ngIf="isPreviewMode && selectedPdf">
    <app-invoice-preview [pdf]="selectedPdf"></app-invoice-preview>
  </div>
  <div class="list" [class.preview-active]="isPreviewMode && selectedPdf">
    <div class="list-header">
      <span>עלות</span>
      <span>ספק</span>
      <span>תיאור תעודה</span>
      <span><i class="fa-regular fa-circle"></i></span>
    </div>
    <div *ngFor="let pdf of pdfItems" (click)="selectPdf(pdf)">
      <app-invoice-item [pdf]="pdf" [isSelected]="selectedPdf?.id === pdf.id" [isPreviewMode]="isPreviewMode"></app-invoice-item> 
    </div>
  </div>
</div>
