@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '@angular/material/prebuilt-themes/indigo-pink.css';



* {
  box-sizing: border-box;
}


.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 14px !important;
} 




body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #E5E9F2;
  }
  
  .header-left img,
  .header-right img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }
  .column {
    flex: 1;
    text-align: right;
    width: fit-content;
  }

  .column-circle {
    flex: 0 0 35px; 
    text-align: center;
    width: fit-content;
    padding-left: 10px;
    font-size: 20px;
  }

  .toolbar {
    position: absolute; 
    top: 9vh; 
    background: rgba(0, 0, 0, 0); 
    z-index: 20; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 2.5%;
    width: 95%;
  }

  .fa-circle {
    font-size: 2rem;
  }
  
